{% extends "main.html" %}

{% block left %}

{% if err %}
<div class="alert alert-error alert-block">
  <a class="close" data-dismiss="alert">x</a>
  <h4 class="alert-heading">Uwaga!</h4>
    {% if err.err == "usergroup_exist" %}
	    Taka grupa już istnieje.
	{% endif %}
	{% if err.err == "usergroup_not_exist" %}
	    Taka grupa nie istnieje.
	{% endif %}
	{% if err.err == "usergroup_member_not_exist" %}
		Taki użytkownik nie istnieje w tej grupie
	{% endif %}
 
</div>
{% endif %}

{% if usergroup_modification %}
    <div class="alert alert-success">
    <a class="close" data-dismiss="alert">x</a>
    <h4 class="alert-heading">{% if usergroup_modification.modification == "add" %}Grupa dodana!{% else %} {% if usergroup_modification.modification == "del"%}Grupa usunięta!{% endif %}{% endif%}</h4>
    {% if usergroup_modification.modification == "add" %}Dodano{% else %} {% if usergroup_modification.modification == "del"%}Usunięto{% endif %}{% endif%} grupę <strong>{{ usergroup_modification.groupname }}</strong>.
    </div>
{% endif %}


<h2>Grupy, których jesteś właścicielem:</h2>
<a class="btn" href="/account/groups/add">Dodaj nową grupę</a><br><br>
{% if groupsOwner %}
{% for group in groupsOwner %}

<h3>Grupa: {{group.name}} <a class="btn" href="/account/groups/del/{{group.name}}">Usuń grupę</a></h3>

	<table class="git-table table" class="tablesorter">
	<thead>
		<tr>
			<th>#</th>
			<th>Użytkownik</th>
			<th>Wypisz</th>
		</tr>
	</thead>
	<tbody>
	{% for groupMember in group.members %}
		<tr><td>{{forloop.counter}}</td><td>{{ groupMember }}</td><td><a href="/account/groups/del/{{group.name}}/{{groupMember}}">Usuń</a></td></tr>
	{% endfor %}
		<tr><td> </td><td></td><td><a href="/account/groups/addMember/{{group.name}}">Dodaj użytkownika</a></td></tr>
	</tbody>
	</table>

{% endfor %}
{% endif %}
{% if groupsMember %}
	<h2>Grupy, których jesteś członkiem:</h2>
	<table class="git-table table" class="tablesorter">
	<thead>
		<tr>
			<th>#</th>
			<th>Nazwa</th>
		</tr>
	</thead>
	<tbody>
	{% for group in groupsMember %}
		<tr><td>{{forloop.counter}}</td><td>{{ group.name }}</td></tr>
	{% endfor %}
	</tbody>
	</table>
{% endif %}
{% endblock %}

{% block script %}
<script>
$(".alert").alert()
$(document).ready(function() 
{ 
$(".git-table").tablesorter( {sortList: [[0,0]], headers: { 
3: { 
sorter: false 
}}});}); 
</script>

{% endblock %}
